.title {
  font-size: 65px;
}
h1{
  background-color: #cfcfcf;
  color: #ffffff;
  padding: 5px;
}
#Mycontacts{
  background-color: #ffffff;
  font-style: oblique;
  font-family: monospace ;
  font-size: 20px;
  color: #000000;
  padding: 5px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */
/* #contacts {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

/* body {
  font-family: 'Jua', sans-serif;
} */


/* nav{
  background-color: #010101;
  color: #ffffff;
} */

/* #barraNavigazione:hover {
    background-color: #111111;
} */
/* h2 {
  background-color: #607d8b;
  color: #ffffff;
  padding: 5px;
} */
